<div class="main-content bg-sidebar-black">
    <div class="container-fluid">       
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-darkGreen">
                        <h4 class="card-title">Vehicle Order (TOMS)</h4>
                        <!--<div class="ct-chart" id="dailySalesChart"></div>-->
                    </div>
                    <div class="card-body">

                        <p class="card-category" style="display:inline-flex">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 5 </span> <button type="button" class="btn btn-transparent btn-sm fs-13 text-transform">Messages Received</button>
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 5 </span><button type="button" class="btn btn-transparent btn-sm fs-13 text-transform">Events published</button>
                        </p>
                        <button type="button" class="btn btn-dark btn-sm fs-13 text-transform pull-right">Initiate</button>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> Message/Event
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-darkGreen">
                        <h4 class="card-title">Toyota Motor Services(TMS)</h4>
                        <!--<div class="ct-chart" id="dailySalesChart"></div>-->
                    </div>
                    <div class="card-body">

                        <p class="card-category" style="display:inline-flex">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 5 </span> <button type="button" class="btn btn-transparent btn-sm fs-13 text-transform">Messages Received</button>
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 5 </span><button type="button" class="btn btn-transparent btn-sm fs-13 text-transform">Events published</button>
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> Message/Event
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-blue">
                        <!--<div class="ct-chart" id="websiteViewsChart"></div>-->
                        <h4 class="card-title">SET - Vehicle Forecast</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up blink"></i> 5 </span> <button type="button" class="btn btn-darkgrey btn-sm fs-12 text-transform" data-toggle="modal" data-target="#myModal">Messages Received</button>
                            <span class="text-success"><i class="fa fa-long-arrow-up blink"></i> 5 </span><button type="button" class="btn btn-transparent btn-sm fs-12 text-transform">Events published</button>
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> Message/Event
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <!--<div class="ct-chart" id="completedTasksChart"></div>-->
                        <h4 class="card-title">SET - Vehicle Inventory</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 5 </span> <button type="button" class="btn btn-transparent btn-sm fs-13 text-transform">Messages Received</button>
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 5 </span><button type="button" class="btn btn-transparent btn-sm fs-13 text-transform">Events published</button>
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> Message/Event
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-purple">
                        <!--<div class="ct-chart" id="dailySalesChart1"></div>-->
                        <h4 class="card-title">SET  - Vehicle Config </h4>
                    </div>
                    <div class="card-body">
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 5 </span> <button type="button" class="btn btn-transparent btn-sm fs-13 text-transform">Messages Received</button>
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 5 </span><button type="button" class="btn btn-transparent btn-sm fs-13 text-transform">Events published</button>
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> Message/Event
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-amber">
                        <!--<div class="ct-chart" id="websiteViewsChart1"></div>-->
                        <h4 class="card-title">SET - Vehicle Allocation</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 5 </span> <button type="button" class="btn btn-transparent btn-sm fs-13 text-transform">Messages Received</button>
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 5 </span><button type="button" class="btn btn-transparent btn-sm fs-13 text-transform">Events published</button>
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> Message/Event
                        </div>
                    </div>
                </div>
            </div>

                <div class="col-md-4">
                    <div class="card card-chart">
                        <div class="card-header card-header-amber">
                            <!--<div class="ct-chart" id="websiteViewsChart1"></div>-->
                            <h4 class="card-title">SET - Dealer</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-category">
                                <span class="text-success"><i class="fa fa-long-arrow-up"></i> 5 </span> <button type="button" class="btn btn-transparent btn-sm fs-13 text-transform">Messages Received</button>
                                <span class="text-success"><i class="fa fa-long-arrow-up"></i> 5 </span><button type="button" class="btn btn-transparent btn-sm fs-13 text-transform">Events published</button>
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> Message/Event
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-chart">
                        <div class="card-header card-header-lime">
                            <!--<div class="ct-chart" id="completedTasksChart1"></div>-->
                            <h4 class="card-title">SET - Vehicle Accesorisation</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-category">
                                <span class="text-success"><i class="fa fa-long-arrow-up"></i> 5 </span> <button type="button" class="btn btn-transparent btn-sm fs-13 text-transform">Messages Received</button>
                                <span class="text-success"><i class="fa fa-long-arrow-up"></i> 5 </span><button type="button" class="btn btn-transparent btn-sm fs-13 text-transform">Events published</button>
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> Message/Event
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <div class="=" row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-cyan">
                        <!--<div class="ct-chart" id="dailySalesChart2"></div>-->
                        <h4 class="card-title">SET  - Vehicle Processing Center (VPC) </h4>
                    </div>
                    <div class="card-body">
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 5 </span> <button type="button" class="btn btn-transparent btn-sm fs-13 text-transform">Messages Received</button>
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 5 </span><button type="button" class="btn btn-transparent btn-sm fs-13 text-transform">Events published</button>
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> Message/Event
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-marron">
                        <h4 class="card-title">SET  - Vehicle Logistics</h4>
                        <!--<div class="ct-chart" id="websiteViewsChart2"></div>-->
                    </div>
                    <div class="card-body">
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 5 </span> <button type="button" class="btn btn-transparent btn-sm fs-13 text-transform">Messages Received</button>
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 5 </span><button type="button" class="btn btn-transparent btn-sm fs-13 text-transform">Events published</button>
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> Message/Event
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-bluegrey">
                        <!--<div class="ct-chart" id="completedTasksChart2"></div>-->
                        <h4 class="card-title">SET - Cloud Financial ERP</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 5 </span> <button type="button" class="btn btn-transparent btn-sm fs-13 text-transform">Messages Received</button>
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 5 </span><button type="button" class="btn btn-transparent btn-sm fs-13 text-transform">Events published</button>
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> Message/Event
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">     
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header modal-bg">
             <h4 class="modal-title fs-20 text-bold">Messages</h4>
            </div>
            <div class="modal-body modal-bg">
                   <div class="col-sm-12">
                       <div class="col-sm-4">    
                           <div class="">                      
                                <ul class="list-feed">
                                        <li> 
                                            <div class="col-sm-12 bg-yellowbox mg-b-10">
                                               <span class="text-white text-size-small text-bold">Message 1</span>
                                            </div>
                                            </li>
                                            <li>
                                                <div class="col-sm-12 bg-yellowbox mg-b-10">
                                                        <span class="text-white text-size-small text-bold">Message 2</span>
                                                      </div>
                                                </li>
                                                <li>
                                            <div class="col-sm-12 bg-yellowbox mg-b-10">
                                                    <span class="text-white text-size-small text-bold">Message 3</span>
                                                   </div>
                                            </li>
                                            <li>
                                                <div class="col-sm-12 bg-yellowbox mg-b-10">
                                                        <span class="text-white text-size-small text-bold">Message 4</span>
                                                      </div>
                                                
                                        </li>
                               </ul>
                        </div> 
                       </div>
                       <div class="col-sm-8">
                           <div class="col-sm-12">
                                <div class="col-sm-12">                               
                                        <h2 class="text-bold">Message 1</h2>
                                        <p class="fs-12">Client provided the requested support, but I don't know how exactly the schedule works- there might be an error, 
                                            or I could be missing something.  Do you have time to help?</p>
                                   
                                </div>
                               <img src="/assets/images/D31.PNG"/>
                           </div>
                          
                       </div>
                   </div>
            </div>
            <div class="modal-footer modalfooter-bg">
              <button type="button" class="btn btn-dark btn-lg fs-13" data-dismiss="modal">Close</button>
            </div>
          </div>
      
        </div>
      </div>
